{% extends "encyclopedia/layout.html" %}

{% block body %}
    <h1>Create Entry:</h1>
    {% if errormessage %}
        <p class="error">{{ errormessage }}</p>
    {% endif %} 

    <form action="{% url 'create_entry' %}" method="post">
        {% csrf_token %}
        {{ form.title.label_tag }}
        {{ form.title }}
        <br>
        {{ form.content.label_tag }}
        <br>
        {{ form.content }}
        <br>
        <input type="submit" value="Create Entry">
    </form>

{% endblock %}