{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>All Pages</h1>

    {% if messages %}
     <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <ul>
        {% for entry in entries %}
            <li>
                <a href="{% url 'entry' entry %}" >{{ entry }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}